$backgroundColor: #bbbdbf;
$primaryColor: #0e0e44;
$secondaryColor: #69a0cb;
$fontColor: #0e0e44;
$accent: #f1c517;
$white: #ffffff;
$light-gray: #bfbfbf;
$medium-gray: #bfbfbf;
$dark-gray: #404040;

