body {
       font-family: TimesNewRoman,
       "Times New Roman",
       Times,
       Baskerville,
       Georgia,
       serif;
    font-weight: 300;
      color: #4e1a31;
      width: 97%;
     
}

/* Link Colours */

/* unvisited link */
a:link {
  color: #4e1a31;
}

/* visited link */
a:visited {
  color: #4e1a31
}

/* mouse over link */
a:hover {
  color: #4e1a31;
}

/* selected link */
a:active {
  color: #4e1a31;
}